html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transition-duration: 0.3s;
}

.overlay--transparent {
    background-color: transparent;
}

.overlay--dark {
    background-color: rgba(0,0,0,0.7);
}

#menu {
    position: absolute;
    top: 25px;
    padding-top: 25px;
    padding-left: 20px;
    height: 100%;
    width: 350px;
    background-color: #0086c1;
    transition-duration: 0.3s;
    z-index: 2;
    color: white;
}

.menu-heading {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em;
}

.menu--closed {
    left: -370px;
}

.menu--opened {
    left: 0;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
}

#time-progress {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #00b0ff;
    float: left;
}

#button-settings {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    float: left;
    width: 25px;
    height: 25px;
    background-color: transparent;
    transition-duration: 0.3s;
    cursor: default;

    background-image: url("../img/settings-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    z-index: 3;
}

#button-settings:hover {
    background-color: #828282;
}

.window-button {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: #545454;
    float: right;
    width: 50px;
    height: 25px;
    background-color: transparent;
    transition-duration: 0.3s;
    cursor: default;
}

#button-close:hover {
    background-color: #ff0000;
    color: white;
}

#button-minimize:hover {
    background-color: #828282;
    color: white;
}

.main {
    width: 100%;
    height: 100%;
    text-align: center;

}

.arrow-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/spinner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.arrow {
    position: relative;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-image: url("../img/arrow.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition-duration: 2s;
}

.group 			  {
    position:relative;
    margin-bottom:45px;
    margin-top: 45px;
}

input 				{
    font-size:1.5em;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    color: white;
    border-bottom:1px solid #dadada;
    background-color: #0086c1;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
    color: #ffffff;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background: #ffffff;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

@keyframes timer {
    0%   {background-color: red;}
    50%  {background-color: yellow;}
    100% {background-color: green;}
}
